<article class="header-cards">
  <select class="form-select form-select-sm " style="width: 15%;" aria-label="Small select example">
    <option selected>Ordenar por</option>
    <option value="1">Popularidad</option>
    <option value="2">Menor precio</option>
    <option value="3">Mayor precio</option>
  </select>
  <section class="cont-cuadrados-and-lines">
    <article class="cont-cuadrados">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" fill="currentColor"
        class="bi bi-border-all" viewBox="0 0 16 16">
        <path d="M0 0h16v16H0zm1 1v6.5h6.5V1zm7.5 0v6.5H15V1zM15 8.5H8.5V15H15zM7.5 15V8.5H1V15z" />
      </svg>
    </article>
    <article class="cont-lineas">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" fill="currentColor" class="bi bi-justify"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
      </svg>
    </article>
  </section>
</article>
