<aside class="aside-et">
    <section class="cont-text-filter">
        <p>Filtrar por</p>
    </section>
    <section class="cont-descuentos">
        <app-card-descuento imgDescuentos="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"></app-card-descuento>
    </section>
    <section class="cont-categorias">
        <app-card-categorias tipoCategoria="Categorias"></app-card-categorias>
        <app-card-categorias tipoCategoria="Descuentos"></app-card-categorias>
        <app-card-categorias tipoCategoria="Marca"></app-card-categorias>
        <app-card-categorias tipoCategoria="Precio"></app-card-categorias>
        <app-card-categorias tipoCategoria="Rango de precios"></app-card-categorias>
        <app-card-categorias tipoCategoria="Calificacion"></app-card-categorias>
        <app-card-categorias tipoCategoria="Condicion del producto"></app-card-categorias>
    </section>
</aside>
<script src="https://kit.fontawesome.com/e4ecbe23d3.js" crossorigin="anonymous"></script>