<section class="cont-crear-cuenta" hidden="true" #infoCreate>
    <article class="form-crear">
        <section class="cont-inputCrear">
            <p>Nombre</p>
            <input class="inputCrear" type="text">
        </section>
        <section class="cont-inputCrear">
            <p>Apellido</p>
            <input class="inputCrear" type="text">
        </section>
        <section  class="cont-inputCrear" >
            <p>Contraseña</p>
            <input class="inputCrear" type="password">
        </section>
        <section class="cont-inputCrear">
            <p>Email</p>
            <input class="inputCrear" type="email">
        </section>
        <section class="cont-inputCrear">
            <p>Tipo de ocumento</p>
            <input class="inputCrear" type="text">
        </section>
        <section class="cont-inputCrear">
            <p>Cedula</p>
            <input class="inputCrear" type="text">
        </section>
    </article>
    <article class="label-check">
        <section>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label label-craete" for="flexCheckDefault">
                    Quiero acumular los puntos de mis compras, inscribiéndome al programa CMR Puntos. Autorizo el Tratamiento de mis Datos Personales y Acepto el Reglamento del programa.
                </label>
              </div>
        </section>
        <section>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label label-craete" for="flexCheckDefault">
                    Declaro que he leído y autorizo el uso de mis datos personales de acuerdo a la Autorización y acepto los Términos y Condiciones de Linio
                </label>
              </div>
        </section>
    </article>
    <article>
        <section>
            <section class="cont-btn-iniciar-sesion">
                <button class="btn-iniciar-sesion">Crear cuenta en Bennu</button>
            </section> 
        </section>
        <section class="text-escoger">
            <p>Ó ingresa con </p>
        </section>
    </article>
</section>
