<nav class="cont-nav">
  <section class="cont-part-one-header">
    <article class="linea-nav">
      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="#ffffff" class="bi bi-justify"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
      </svg>
    </article>
    <article class="img-nav">
      <section class="img-black-friday">
        <img style="width: 70px; height: 45px;" src="https://i.linio.com/cms/8f6d44f2-8556-11ee-b9ea-1eb276e2b5de.png"
          alt="">
      </section>
      <section class="name-brand" routerLink="/vista-detalle" style="cursor: pointer;">
        <p class="name-benu">BENNU</p>
        <p class="name-santiago">BY SANTIAGO</p>
      </section>
    </article>
    <article class="input-nav">
      <input type="text" class="input" placeholder="¿Que deseas buscar?">
      <section class="cont-lupa">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
      </section>
    </article>
    <article class="cont-logIn">
      <section class="cont-inicio" routerLink="/log-in">
        <app-button-header borderRight="borderRight" [svgContent]="svgContentUno" accionSvg="Iniciar sesion"></app-button-header>
      </section>
      <section class="cont-pedidos" >
        <app-button-header borderRight="borderRight" [svgContent]="svgContentDos" accionSvg="Mis pedidos"></app-button-header>
      </section>
      <section class="cont-carrito" routerLink="/vista-carrito">
        <app-button-header [svgContent]="svgContentTres" accionSvg="Carrito"></app-button-header>
      </section>
    </article>

  </section>
  <section class="cont-links-header">
      <p>Solo Hoy</p>
      <p>Vende por bennu</p>
      <p>Banco Falabella</p>
      <p>Bennu en falabella</p>
      <p>Bennu puntos</p>
      <p>Ventas Telefonicas</p>
      <p>Historial</p>
      <p>Tiendas Oficiales</p>
      <p>Ayuda</p>
  </section>
</nav>
<router-outlet></router-outlet>