.cont-nav{
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%;
    justify-content: center;

}

p{
    margin: 0;
}

.cont-part-one-header{
    padding-top: 10px;
    display: grid;
    width: 62.5vw;
    margin-right: 15px;
    grid-template-columns: 3rem 11.1rem 37rem auto;

}

.linea-nav{
    display: flex;
    align-items: center;
    height: 81%;
    justify-content: center;


}

.img-nav{
    display: flex;
    align-items: center;
    height: 80%;
    column-gap: 10px;
}
.name-brand{
    color: white;
    margin-top: 2px;
    font-family: "Regular";
    text-align: center;
}
.name-benu{
    font-size: 25px;
}
.name-santiago{
    font-size: 10px;
    position: relative;
    bottom: 9px;
}
.input-nav{
    display: grid;
    grid-template-columns: 90% 10%;

}
.input{
    height:2.42rem ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: "regular";

}
.cont-lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    position: relative;
    height: 67%;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid rgb(217, 217, 217);
    bottom:10px;
    background-color: white;
    cursor: pointer;
}
.cont-logIn{
    display: flex;
}
.cont-links-header{
    display: flex;
    border-top:1px solid white ;
    padding-top: 9px;
    column-gap: 10px;
    font-size: 13px;
    font-family: "regular";
    position: relative;
    bottom: 12px;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}