<main>
    <section class="contenedor-general">
        <article class="cont-aside">
            <app-aside></app-aside>
        </article>
        <article class="contenedor-cards">
            <app-header-card></app-header-card>
            <section class="cont-articulos">
                <app-tarjeta idElemento="SilverLenovo" llegada="llega mañana" img="https://i.linio.com/p/a057fe13dcd2b50649c2ed28e9648bf0-product.webp" 
                caracteristicas="LENOVO 1 14ADA05 AMD ATHLON SILVER 3050E 4GB DDR4 128GB SSD 14 HD WIN 10"
                [precioDecuento]="984000" [porcentajeDecuento]="15" [precioTarjeta]="799000"
                ></app-tarjeta>
                <app-tarjeta  idElemento="IntelCeleron" img="https://i.linio.com/p/e4d78bf0e7b4702906d6ae0c769fa10a-product.webp" 
                caracteristicas="HP 240 G9 - INTEL CELERON N4500 - 8GB DDR4 - 256GB SSD - PANTALLA 14 HD"
                [precioDecuento]="1230000" [porcentajeDecuento]="30" [precioTarjeta]="1100000"></app-tarjeta>
                <app-tarjeta idElemento="PorLenovo" img="https://i.linio.com/p/5a581d28afc339a808416153705b62a4-product.webp" 
                caracteristicas="Portátil Lenovo V14 ARE Ryzen 7 8Gb SSD 512GB 14"
                [precioDecuento]="2349888" [porcentajeDecuento]="34" [precioTarjeta]="2000000"></app-tarjeta>
                <app-tarjeta idElemento="HpPortatil" img="https://i.linio.com/p/7963825869df936e145758d43e25d5fd-product.webp" 
                caracteristicas="Portatil HP 245 G9 Amd Ryzen 3 3250U 8gb 256ssd 14 Windows de Prueba"
                [precioDecuento]="1899000" [porcentajeDecuento]="40" [precioTarjeta]="1700000"></app-tarjeta>
                <app-tarjeta idElemento="LenovoV" img="https://i.linio.com/p/5a581d28afc339a808416153705b62a4-product.webp" 
                caracteristicas="Portátil Lenovo V14 ARE Ryzen 7 8Gb SSD 512GB 14"
                [precioDecuento]="2349888" llegada="llega mañana" [porcentajeDecuento]="34" [precioTarjeta]="2000000"></app-tarjeta>
                <app-tarjeta idElemento="SilverLenovos" img="https://i.linio.com/p/5a581d28afc339a808416153705b62a4-product.webp" 
                caracteristicas="Portátil Lenovo V14 ARE Ryzen 7 8Gb SSD 512GB 14"
                [precioDecuento]="2349888" [porcentajeDecuento]="34" [precioTarjeta]="2000000"></app-tarjeta>
            </section>
        </article>
    </section>

</main>

<script src="https://kit.fontawesome.com/e4ecbe23d3.js" crossorigin="anonymous"></script>
